body {
    padding: 20px 40px;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    border-spacing: 0;
    width: 100%;
}
Table th {
    background-color: rgba(137, 43, 226, 0.208);
    color: rgba(165, 42, 42, 0.278); 
    text-align: left;
    text-shadow: 1px 1px 1px;
}

.tony {
    width: 40%;
}
.temi,
.chi, 
.vic {
    20%
}

table tr :nth-child(2),
table tr :nth-child(3),
table tr :nth-child(4) {
    text-align: center;
}

tr:hover {
    background-color: rgb(219, 156, 80);
    transform:rotate(1.02);
    box-shadow: 2px 2px 12px rgba(13, 221, 151, 0.221), -1px -1px 7px #6495ed;
}
/*media query*/
@media only screen and (max-width: 780px) {
    table {
        width: 90%; 
    }
}

tr {
    transition: all 1s ease-in;
    cursor: pointer;
}

table th,
table td {
    border: 1px solid rgba(137, 43, 226, 0.208);
    padding: 10px; 
}
table tbody tr:nth-child(odd) td {
    background-color: rgba(127, 255, 212, 0.221);
}